<% title = "Add Diagnosis" %>
<%- include("layout/headerID")%>
        <section>
                <main>
            <form action="/addDiagnosis" method="post">

                    <input type="hidden" name="patient_id" value="<%- p_id %>">
                    <p>Patient ID: <input type="text" name="patient_id" value="<%- p_id %>"></p>
                    <p>Complaints: <br><textarea rows="10" cols="30" name="complaint"></textarea></p>
                    <p>Recommendation: <br><textarea rows="10" cols="30" name="recommendation"></textarea></p>
                    <button type="submit"> Add </button>
            </form>
                </main>
        </section>   
<%- include("layout/footer")%>