<!DOCTYPE html>
<html>
    <head>
        <title>Hospitaal Repo</title>
    </head>
    <body>
            <h2>TCC Hospital Repo App</h2>

            <p>User ID: <strong> <%- u_id %> </strong></p>
            <p>Username: <strong> <%- uname %> </strong></p>

            <h1>Your Hospital Repo</h1>
            <a href="/dashboard">Home</a>
            <a href="/addpatient">Add Patient</a>
            <a href="/viewpatient">View Patient</a>
            <a href="/logout">Logout</a>
    </body>
</html>