<% title = "Dashboard" %>
<%- include("layout/D-header")%>

    <h3>Welcome to the Repository of all HMO in Your area</h3>
    <p>Check for the clinics of your choice and find the doctors right here!</p>
    <p>This app will help you acces full health care first hand electronically</p>
    <p>In case of emergency or  surgeries, you will be redirected to the nearest hospital for physical attention.</p>
    <p>Enjoy our HMO at fingerTip</p>
    <%- include("layout/footer")%>