<% title="SignIn" %>
<%- include("layout/header")%>
        <!-- <p>please enter your username and password</p> -->
        <form action="/login" method="post">
            <p>Username: <input type="text" name="username"
                    value=" <%- typeof username != 'undefined' ? username : '' %> ">
            </p>
            <p>Password: <input type="text" name="password"
                    value=" <%- typeof password != 'undefined' ? password : '' %> ">
            </p>
            <input type="submit" value="Click to login">
        </form>
<%- include("layout/footer")%>