<% title = "Landing Page" %>
<%- include("layout/header")%>
        <section>
            <main>
                <p>Welcome th the Medics page, where experts can fully practice electronically
                already a user... login and attend to the bunch of waiting Patients</a> <br>
                New User? signup to have an account with us to see the new world of Electronic Health Management System
                </p> 
            </main>
        </section>
<%- include("layout/footer")%>