<% title = "Landing Page" %>
<%- include("layout/header")%>

            <p>Welcome th the Medics page, where experts can fully practice electronically</p>

            <h4>Welcome!!!</h4>
            <p>already a user... login and attend to the bunch of waiting Patients</a></p>
            <p>New User? signup to have an account with us to see the new world of Electronic Health Management System</p>
<%- include("layout/footer")%>