<!DOCTYPE html>
<html>
    <head>
        <title>Hospitaal Repo</title>
    </head>
    <body>

            <h2>TCC Hospital Repo App</h2>
            <p>This app allow medical practitioners full practice electronically</p>

            <h4>Welcome!!!</h4>
            <p>To login, <a href="/login">click here</a></p>
            <p>New User? <a href="/signup">click here</a> to signup</p>
    </body>
</html>