<!DOCTYPE html>
<html>
    <head>
        <title><%-title%></title>
        <link rel="shortcut icon" href="../../fav.png" type="image/x-icon">
    </head>
    <body>
        <small>User ID:  <%- u_id %></small>
        <p>Username: <strong>Dr. <%- uname %> </strong></p>

        <h2>Kay's HMO Repository</h2>
        <a href="/dashboard">Home</a>
        <a href="/addpatient">Add Patient</a>
        <a href="/viewpatient">View Patient</a>
        <a href="/logout">Logout</a>
<div>