
</div>
<footer class="py-3 bg-dark foot">
    <div class="container" >
        <p class="m-0 text-center text-white">
            copyright &copy; Kays clinic <%= new Date().getFullYear() %>
        </p>
    </div>
</footer>
</body>
</html>