<!DOCTYPE html>
<html>
    <head>
        <title><%-title%></title>
        <link rel="shortcut icon" href="img/fav.png" type="image/x-icon">
        <link rel="stylesheet" href="../css/style.css">
    </head>
    <body>
        <header>
            
           <h2 class="logo">Kay's HMO Repository</h2>
            <nav class="flex-items">
                <ul>
                    <li> <a type="button" href="/dashboard">Home</a> </li>
                    <li> <a type="button"  type="button"href="/addpatient">Add</a></li>
                    <li> <a type="button" href="/viewpatient">Patients</a></li>
                    <li> <a type="button" href="/logout">Logout</a></li>
                </ul>
            </nav>
        </header>   
        
<div>