<!DOCTYPE html>
<html>
    <head>
        <title><%-title%></title>
        <link rel="shortcut icon" href="img/fav.png" type="image/x-icon">
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body>
        <header>
            <h2 class="logo">Kay's HMO Repository</h2>
            <nav class="flex-items">
                <ul>
                    <li><a type="button" href="/signup">signUp</a></li>
                    <li><a type="button" href="/login">login</a></li>
                </ul>
            </nav>
        </header>
<div>